.quiz {
  &__answer-input {
    display: none;

    &:checked + .quiz__answer-label {
      color: var(--clr-white);
      background-color: var(--clr-primary);
    }
  }

  &__answer-label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 40px;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-white);
    background-color: var(--clr-secondary);
    border-radius: 4px;
    cursor: pointer;
  }
}




