.progress-bar-heading-wrapper {
  margin-bottom: 4px;
}

.progress-bar-outer {
  width: 100%;
  border-radius: 4px;
  background-color: #eeeeee;
}

.progress-bar-inner {
  font-size: 14px;
  padding: 2px;
  border-radius: 4px;
  background-color: var(--clr-primary);
  text-align: center;
  color: var(--clr-white);
  transition: width 1s ease-in-out;
}
