.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 18px;
  border: 1px solid #999;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s;

  &:active {
    box-shadow: #42B9834D 0 0 0 3px;
  }

  &--primary {
    background-color: var(--green);
    color: #fff;
    border: 1px solid transparent;

    &:hover {
      background-color: #3aa172;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background-color: var(--green);
    }
  }
}
