.quiz {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  margin-bottom: 48px;

  & button {
    justify-self: center;
  }
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  animation: showAnswers 0.35s ease-in;
}

.answer-container-wrapper {
  min-height: 136px;
}

@keyframes showAnswers {
  from {opacity: 0}
  to {opacity: 1}
}

.quiz-answer-label {
  width: 100%;
}

.progress-bar-outer {
  width: 100%;
  border-radius: 4px;
  background-color: #eeeeee;
}

.progress-bar-inner {
  font-size: 14px;
  padding: 1px;
  border-radius: 4px;
  background-color: #04AA6D;
  text-align: center;
  color: #fff;
  transition: width 1s ease-in-out;
}

@media (min-width: 576px) {
  .answer-container {
    grid-template-columns: 1fr 1fr;
  }
}
