.answer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;
}

.quiz-answer-label {
  width: 100%;
}

.progress-bar-outer {
  width: 100%;
  border-radius: 4px;
  background-color: #eeeeee;
}

.progress-bar-inner {
  padding: 2px;
  min-height: 24px;
  border-radius: 4px;
  background-color: #04AA6D;
  text-align: center;
  color: #fff;
  transition: width 1s ease-in-out;
}
