.quiz-question {
  margin-bottom: 12px;
}

.quiz {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  margin-bottom: 48px;

  & button {
    justify-self: center;
  }
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  animation: showAnswers 0.35s ease-in;
}

.answer-container-wrapper {
  min-height: 136px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@keyframes showAnswers {
  from {opacity: 0}
  to {opacity: 1}
}

@media (min-width: 576px) {
  .answer-container {
    grid-template-columns: 1fr 1fr;
  }
}
