@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --green: #03cea4;
  --blue: #345995;
  --yellow: #eac435;
  --orange: #fb4d3d;
  --red: #ca1551;
}

#app {
  //font-family: "Inter", sans-serif;
  font-family: 'Roboto', sans-serif;
  color: #444;
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}
