@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "assets/styles/css-reset";

:root {
  --clr-white: #fff;
  --clr-text-dark: #444;
  --clr-primary: #42b983;
  --clr-primary-darker: #3aa172;
  --clr-primary-boxshadow: rgba(66, 185, 131 , 0.3);
  --clr-secondary: #438aba;
  --clr-secondary-boxshadow: rgba(67, 138, 186, 0.3);
  --clr-danger: #ca1551;
  --clr-danger-boxshadow: rgba(202, 21, 81, 0.3);
  --clr-border: #ced4da;
  --clr-border-lighter: #f3f3f3;
  --clr-border-darker: #999;
  --clr-input-boxshadow: rgba(206, 212, 218, 0.5);
}

#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-text-dark);
  margin-top: 20px;
}


